table,th,td{
    border: 1px solid black;
    justify-items: center;
    margin: 0 auto
}

th,td{
    padding: 5px;
    text-align: center;
}

.error{
    background-color: rgb(241, 182, 182);
    color: rgb(99, 6, 6);
}
.success{
    background-color: rgb(182, 241, 197);
    color: rgb(6, 99, 26);
}