/*global*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
    background-color: beige;
}
a{
    text-decoration: none;
    color: black;
}

/*utilities*/
.link-selected{
    color: rgb(108, 8,8);
    text-decoration: underline;
}
.btn{
    background-color: #222222;
    color: white;
    padding: 10px;
    text-decoration: none;
}
/*header*/
.site-init{
    height: 200px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.menu a{
    margin-right: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
/*dish-month*/
.dish-month-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.dish-month-img{
    margin-right: 20px;
}
.dish-month-text h2{
    font-size: 38px;
}
.dish-month-text p{
    font-size: 14px;
    margin: 10px 0;
}
.dish-month-text .text-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-flex p{
    font-size: 22px;
}

/*all-dishes*/
.all-dishes-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.dish-container{
    background-color: #222222;
    color: white;
}
.dish-container img{
    width: 100%;
}