table,th,td{
    border: 1px solid black;
    justify-items: center;
    
}

th,td{
    padding: 5px;
    text-align: center;
}

.error{
    background-color: rgb(241, 182, 182);
    color: rgb(99, 6, 6);
}

